<div class="tpay hidden-xs">
  <a href="https://tpay.com/jak-to-dziala" target="_blank" title="Obsługujemy płatności internetowe przez system płatności online tpay.com">
    <img src="https://tpay.com/img/banners/tpay-full-color-712x162.png" class="tpay-img" style="border:0" alt="Umożliwiamy szybkie płatności internetowe za pomocą serwisu tpay.com" title="tpay.com to szybkie i wygodne płatności internetowe, kliknij i zobacz jak to działa" width="712" height="162" />
  </a>
</div>

<div class="tpay visible-xs-block">
  <a href="https://tpay.com/jak-to-dziala" target="_blank" title="Obsługujemy płatności internetowe przez system płatności online tpay.com">
    <img src="https://tpay.com/img/banners/tpay-e-transfery-363x94.png" class="tpay-img" style="border:0" alt="Płać wygodnie online przez tpay.com" title="Szybkie i wygodnie płatności internetowe zapewnia tpay.com" width="362" height="94" />
  </a>
</div>
