<footer id="spree-footer">
  <div class="container">
    <nav class="basic-info navbar col-xs-12 col-md-10">
      <ul class="nav navbar-nav">
        <li class="footer-link"><a href="/o-nas">O nas</a></li>
        <li class="footer-link"><a href="/kontakt">Kontakt</a></li>
        <li class="footer-link"><a href="/regulamin">Regulamin</a></li>
        <li class="footer-link"><a href="/polityka-prywatnosci">Polityka prywatności</a></li>
        <li class="footer-link"><a href="/reklamacje-i-zwroty">Reklamacje i zwroty</a></li>
      </ul>
    </nav>
    <nav class="social-area navbar col-xs-12 col-md-2 pull-right">
      <ul class="nav navbar-nav">
        <li class="footer-link">
          <a href="https://www.facebook.com/FriendsFurEverpl/"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
        </li>
        <li class="footer-link">
          <a href="https://www.instagram.com/friendsfureverpl/"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
